
@model RemoveEpisodeItem


<form asp-page="Index"
      asp-page-handler="RemoveEpisode"
      data-method="post"
      data-ajax="true"
      data-urlback="/Admin/Episode/@Model.CourseId"
      enctype="multipart/form-data">

    <input readonly="readonly" type="hidden" asp-for="EpisodeId" />

    <div class="col-md-12">
        <label asp-for="EpisodeTitle"></label>
        <input readonly="readonly" type="text" asp-for="EpisodeTitle"
               class="form-control" />
    </div>

    <div class="modal-footer margin-top-10">
        <button style="margin:auto;" type="submit" class="btn btn-success margin-left-10">ثبت تغییرات </button>
    </div>

</form>