
<section class="become-instructor-partner-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="become-instructor-partner-content bg-color">
                    <h2>تبدیل به یک مربی شوید</h2>
                    <p>از میان صدها دوره رایگان انتخاب کنید یا مدرک را با قیمت دستیابی به موفقیت کسب کنید. با سرعت خود بیاموزید.</p>
                    <a href="login.html" class="default-btn"><i class='bx bx-plus-circle icon-arrow before'></i><span class="label">اکنون بپذیر</span><i class="bx bx-plus-circle icon-arrow after"></i></a>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="become-instructor-partner-image bg-image1 jarallax" data-jarallax='{"speed": 0.3}'>
                    <img src="/ThemeSite/assets/img/become-instructor.jpg" alt="image">
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="become-instructor-partner-image bg-image2 jarallax" data-jarallax='{"speed": 0.3}'>
                    <img src="/ThemeSite/assets/img/become-partner.jpg" alt="image">
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="become-instructor-partner-content">
                    <h2>شریک شدن</h2>
                    <p>از میان صدها دوره رایگان انتخاب کنید یا مدرک را با قیمت دستیابی به موفقیت کسب کنید. با سرعت خود بیاموزید.</p>
                    <a href="login.html" class="default-btn"><i class='bx bx-plus-circle icon-arrow before'></i><span class="label">تماس با ما</span><i class="bx bx-plus-circle icon-arrow after"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>