
<section class="courses-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-left">
            <span class="sub-title">دوره ها را کشف کنید</span>
            <h2>دوره های آنلاین محبوب ما</h2>
            <a href="courses-2-columns-style-1.html" class="default-btn"><i class='bx bx-show-alt icon-arrow before'></i><span class="label">همه دوره ها</span><i class="bx bx-show-alt icon-arrow after"></i></a>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box mb-30">
                    <div class="courses-image">
                        <a href="single-courses.html" class="d-block"><img src="/ThemeSite/assets/img/courses/1.jpg" alt="image"></a>

                        <div class="courses-tag">
                            <a href="#" class="d-block">تجاری</a>
                        </div>
                    </div>

                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <img src="/ThemeSite/assets/img/user1.jpg" class="rounded-circle mr-2" alt="image">
                            <span>استیون اسمیت</span>
                        </div>

                        <h3><a href="single-courses.html" class="d-inline-block">دوره گواهینامه فناوری اطلاعات تخصصی راک</a></h3>

                        <div class="courses-rating">
                            <div class="review-stars-rated">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                            </div>

                            <div class="rating-total">
                                5.0 (1 امتیاز)
                            </div>
                        </div>
                    </div>

                    <div class="courses-box-footer">
                        <ul>
                            <li class="students-number">
                                <i class='bx bx-user'></i> 10 دانشجو
                            </li>

                            <li class="courses-lesson">
                                <i class='bx bx-book-open'></i> 6 درس
                            </li>

                            <li class="courses-price">
                                رایگان
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box mb-30">
                    <div class="courses-image">
                        <a href="single-courses.html" class="d-block"><img src="/ThemeSite/assets/img/courses/2.jpg" alt="image"></a>

                        <div class="courses-tag">
                            <a href="#" class="d-block">طراحی</a>
                        </div>
                    </div>

                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <img src="/ThemeSite/assets/img/user2.jpg" class="rounded-circle mr-2" alt="image">
                            <span>سارا تایلور</span>
                        </div>

                        <h3><a href="single-courses.html" class="d-inline-block">طراحی گرافیک معتبر با دوره پروژه رایگان</a></h3>

                        <div class="courses-rating">
                            <div class="review-stars-rated">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star-half'></i>
                            </div>

                            <div class="rating-total">
                                4.5 (2 امتیاز)
                            </div>
                        </div>
                    </div>

                    <div class="courses-box-footer">
                        <ul>
                            <li class="students-number">
                                <i class='bx bx-user'></i> 15 دانشجو
                            </li>

                            <li class="courses-lesson">
                                <i class='bx bx-book-open'></i> 10 درس
                            </li>

                            <li class="courses-price">
                                25 تومان
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                <div class="single-courses-box mb-30">
                    <div class="courses-image">
                        <a href="single-courses.html" class="d-block"><img src="/ThemeSite/assets/img/courses/3.jpg" alt="image"></a>

                        <div class="courses-tag">
                            <a href="#" class="d-block">توسعه دهنده</a>
                        </div>
                    </div>

                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <img src="/ThemeSite/assets/img/user3.jpg" class="rounded-circle mr-2" alt="image">
                            <span>جیمز اندرسون</span>
                        </div>

                        <h3><a href="single-courses.html" class="d-inline-block">دوره آموزش مهارت عکاسی برای عکاسان</a></h3>

                        <div class="courses-rating">
                            <div class="review-stars-rated">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bx-star'></i>
                            </div>

                            <div class="rating-total">
                                4.0 (1 امتیاز)
                            </div>
                        </div>
                    </div>

                    <div class="courses-box-footer">
                        <ul>
                            <li class="students-number">
                                <i class='bx bx-user'></i> 5 دانشجو
                            </li>

                            <li class="courses-lesson">
                                <i class='bx bx-book-open'></i> 5 درس
                            </li>

                            <li class="courses-price">
                                150 تومان
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="courses-area pb-70">
    <div class="container">
        <div class="section-title text-left">
            <span class="sub-title">دوره ها را کشف کنید</span>
            <h2>دوره های آنلاین محبوب ما</h2>
            <a href="courses-2-columns-style-2.html" class="default-btn"><i class='bx bx-show-alt icon-arrow before'></i><span class="label">بیشتر بدانید</span><i class="bx bx-show-alt icon-arrow after"></i></a>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-item mb-30">
                    <div class="courses-image">
                        <a href="single-courses.html" class="d-block"><img src="/ThemeSite/assets/img/courses/1.jpg" alt="image"></a>
                    </div>

                    <div class="courses-content">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="course-author d-flex align-items-center">
                                <img src="/ThemeSite/assets/img/user1.jpg" class="shadow" alt="image">
                                <span>استیون اسمیت</span>
                            </div>

                            <div class="courses-rating">
                                <div class="review-stars-rated">
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star-half'></i>
                                </div>

                                <div class="rating-total">
                                    4.5 (2)
                                </div>
                            </div>
                        </div>

                        <h3><a href="single-courses.html" class="d-inline-block">دوره گواهینامه فناوری اطلاعات تخصصی راک</a></h3>
                        <p>آموزش شامل آموزش و یادگیری دانش است.</p>
                    </div>

                    <div class="courses-box-footer">
                        <ul>
                            <li class="students-number">
                                <i class='bx bx-user'></i> 10 دانشجو
                            </li>

                            <li class="courses-lesson">
                                <i class='bx bx-book-open'></i> 6 درس
                            </li>

                            <li class="courses-price">
                                رایگان
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-courses-item mb-30">
                    <div class="courses-image">
                        <a href="single-courses.html" class="d-block"><img src="/ThemeSite/assets/img/courses/2.jpg" alt="image"></a>
                    </div>

                    <div class="courses-content">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="course-author d-flex align-items-center">
                                <img src="/ThemeSite/assets/img/user2.jpg" class="shadow" alt="image">
                                <span>استیون اسمیت</span>
                            </div>

                            <div class="courses-rating">
                                <div class="review-stars-rated">
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star-half'></i>
                                </div>

                                <div class="rating-total">
                                    4.5 (2)
                                </div>
                            </div>
                        </div>

                        <h3><a href="single-courses.html" class="d-inline-block">دوره گواهینامه فناوری اطلاعات تخصصی راک</a></h3>
                        <p>آموزش شامل آموزش و یادگیری دانش است.</p>
                    </div>

                    <div class="courses-box-footer">
                        <ul>
                            <li class="students-number">
                                <i class='bx bx-user'></i> 10 دانشجو
                            </li>

                            <li class="courses-lesson">
                                <i class='bx bx-book-open'></i> 6 درس
                            </li>

                            <li class="courses-price">
                                250 تومان
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                <div class="single-courses-item mb-30">
                    <div class="courses-image">
                        <a href="single-courses.html" class="d-block"><img src="/ThemeSite/assets/img/courses/3.jpg" alt="image"></a>
                    </div>

                    <div class="courses-content">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="course-author d-flex align-items-center">
                                <img src="/ThemeSite/assets/img/user3.jpg" class="shadow" alt="image">
                                <span>استیون اسمیت</span>
                            </div>

                            <div class="courses-rating">
                                <div class="review-stars-rated">
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bx-star'></i>
                                </div>

                                <div class="rating-total">
                                    4.0 (1)
                                </div>
                            </div>
                        </div>

                        <h3><a href="single-courses.html" class="d-inline-block">دوره گواهینامه فناوری اطلاعات تخصصی راک</a></h3>
                        <p>آموزش شامل آموزش و یادگیری دانش است.</p>
                    </div>

                    <div class="courses-box-footer">
                        <ul>
                            <li class="students-number">
                                <i class='bx bx-user'></i> 10 دانشجو
                            </li>

                            <li class="courses-lesson">
                                <i class='bx bx-book-open'></i> 6 درس
                            </li>

                            <li class="courses-price">
                                150 تومان
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="courses-area pb-70">
    <div class="container">
        <div class="section-title text-left">
            <span class="sub-title">دوره ها را کشف کنید</span>
            <h2>دوره های آنلاین محبوب ما</h2>
            <a href="courses-3-columns-style-1.html" class="default-btn"><i class='bx bx-show-alt icon-arrow before'></i><span class="label">بیشتر بدانید</span><i class="bx bx-show-alt icon-arrow after"></i></a>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box without-box-shadow mb-30">
                    <div class="courses-image">
                        <a href="single-courses.html" class="d-block"><img src="/ThemeSite/assets/img/courses/1.jpg" alt="image"></a>

                        <div class="courses-tag">
                            <a href="#" class="d-block">تجاری</a>
                        </div>
                    </div>

                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <img src="/ThemeSite/assets/img/user1.jpg" class="rounded-circle mr-2" alt="image">
                            <span>استیون اسمیت</span>
                        </div>

                        <h3><a href="single-courses.html" class="d-inline-block">دوره گواهینامه فناوری اطلاعات تخصصی راک</a></h3>

                        <div class="courses-rating">
                            <div class="review-stars-rated">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                            </div>

                            <div class="rating-total">
                                5.0 (1 امتیاز)
                            </div>
                        </div>
                    </div>

                    <div class="courses-box-footer">
                        <ul>
                            <li class="students-number">
                                <i class='bx bx-user'></i> 10 دانشجو
                            </li>

                            <li class="courses-lesson">
                                <i class='bx bx-book-open'></i> 6 درس
                            </li>

                            <li class="courses-price">
                                رایگان
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box without-box-shadow mb-30">
                    <div class="courses-image">
                        <a href="single-courses.html" class="d-block"><img src="/ThemeSite/assets/img/courses/2.jpg" alt="image"></a>

                        <div class="courses-tag">
                            <a href="#" class="d-block">طراحی</a>
                        </div>
                    </div>

                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <img src="/ThemeSite/assets/img/user2.jpg" class="rounded-circle mr-2" alt="image">
                            <span>سارا تایلور</span>
                        </div>

                        <h3><a href="single-courses.html" class="d-inline-block">طراحی گرافیک معتبر با دوره پروژه رایگان</a></h3>

                        <div class="courses-rating">
                            <div class="review-stars-rated">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star-half'></i>
                            </div>

                            <div class="rating-total">
                                4.5 (2 امتیاز)
                            </div>
                        </div>
                    </div>

                    <div class="courses-box-footer">
                        <ul>
                            <li class="students-number">
                                <i class='bx bx-user'></i> 15 دانشجو
                            </li>

                            <li class="courses-lesson">
                                <i class='bx bx-book-open'></i> 10 درس
                            </li>

                            <li class="courses-price">
                                25 تومان
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                <div class="single-courses-box without-box-shadow mb-30">
                    <div class="courses-image">
                        <a href="single-courses.html" class="d-block"><img src="/ThemeSite/assets/img/courses/3.jpg" alt="image"></a>

                        <div class="courses-tag">
                            <a href="#" class="d-block">توسعه دهنده</a>
                        </div>
                    </div>

                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <img src="/ThemeSite/assets/img/user3.jpg" class="rounded-circle mr-2" alt="image">
                            <span>جیمز اندرسون</span>
                        </div>

                        <h3><a href="single-courses.html" class="d-inline-block">دوره آموزش مهارت عکاسی برای عکاسان</a></h3>

                        <div class="courses-rating">
                            <div class="review-stars-rated">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bx-star'></i>
                            </div>

                            <div class="rating-total">
                                4.0 (1 امتیاز)
                            </div>
                        </div>
                    </div>

                    <div class="courses-box-footer">
                        <ul>
                            <li class="students-number">
                                <i class='bx bx-user'></i> 5 دانشجو
                            </li>

                            <li class="courses-lesson">
                                <i class='bx bx-book-open'></i> 5 درس
                            </li>

                            <li class="courses-price">
                                150 تومان
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>