
<section class="how-it-works-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">یافتن دوره ها</span>
            <h2>چگونه کار می کند؟</h2>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-work-process mb-30">
                    <div class="icon">
                        <i class='bx bx-search-alt'></i>
                    </div>
                    <h3>جستجوی دوره ها</h3>
                    <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-work-process mb-30">
                    <div class="icon">
                        <i class='bx bx-info-square'></i>
                    </div>
                    <h3>مشاهده جزئیات دوره</h3>
                    <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                <div class="single-work-process mb-30">
                    <div class="icon">
                        <i class='bx bx-like'></i>
                    </div>
                    <h3>ثبت نام کنید</h3>
                    <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                </div>
            </div>
        </div>
    </div>
</section>