
<section class="partner-area ptb-70">
    <div class="container">
        <div class="partner-slides owl-carousel owl-theme">
            <div class="single-partner-item">
                <a href="#" class="d-block">
                    <img src="/ThemeSite/assets/img/partner/7.png" alt="image">
                </a>
            </div>

            <div class="single-partner-item">
                <a href="#" class="d-block">
                    <img src="/ThemeSite/assets/img/partner/8.png" alt="image">
                </a>
            </div>

            <div class="single-partner-item">
                <a href="#" class="d-block">
                    <img src="/ThemeSite/assets/img/partner/9.png" alt="image">
                </a>
            </div>

            <div class="single-partner-item">
                <a href="#" class="d-block">
                    <img src="/ThemeSite/assets/img/partner/10.png" alt="image">
                </a>
            </div>

            <div class="single-partner-item">
                <a href="#" class="d-block">
                    <img src="/ThemeSite/assets/img/partner/11.png" alt="image">
                </a>
            </div>

            <div class="single-partner-item">
                <a href="#" class="d-block">
                    <img src="/ThemeSite/assets/img/partner/12.png" alt="image">
                </a>
            </div>
        </div>
    </div>
</section>