

<section class="team-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">ارتباطات را برقرار کنید</span>
            <h2>تیم مربیان</h2>
            <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
        </div>

        <div class="team-slides owl-carousel owl-theme">
            <div class="single-instructor-box mb-30">
                <div class="image">
                    <img src="/ThemeSite/assets/img/team/1.jpg" alt="image">

                    <ul class="social">
                        <li><a href="#" target="_blank"><i class="bx bxl-facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i class="bx bxl-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="bx bxl-linkedin"></i></a></li>
                        <li><a href="#" target="_blank"><i class="bx bxl-instagram"></i></a></li>
                    </ul>
                </div>

                <div class="content">
                    <h3><a href="single-instructor.html">الکس ماکسول</a></h3>
                    <span>سئوکار وب</span>
                </div>
            </div>

            <div class="single-instructor-box mb-30">
                <div class="image">
                    <img src="/ThemeSite/assets/img/team/2.jpg" alt="image">

                    <ul class="social">
                        <li><a href="#" target="_blank"><i class="bx bxl-facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i class="bx bxl-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="bx bxl-linkedin"></i></a></li>
                        <li><a href="#" target="_blank"><i class="bx bxl-instagram"></i></a></li>
                    </ul>
                </div>

                <div class="content">
                    <h3><a href="single-instructor.html">الکس ماکسول</a></h3>
                    <span>سئوکار وب</span>
                </div>
            </div>

            <div class="single-instructor-box mb-30">
                <div class="image">
                    <img src="/ThemeSite/assets/img/team/3.jpg" alt="image">

                    <ul class="social">
                        <li><a href="#" target="_blank"><i class="bx bxl-facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i class="bx bxl-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="bx bxl-linkedin"></i></a></li>
                        <li><a href="#" target="_blank"><i class="bx bxl-instagram"></i></a></li>
                    </ul>
                </div>

                <div class="content">
                    <h3><a href="single-instructor.html">الکس ماکسول</a></h3>
                    <span>سئوکار وب</span>
                </div>
            </div>

            <div class="single-instructor-box mb-30">
                <div class="image">
                    <img src="/ThemeSite/assets/img/team/4.jpg" alt="image">

                    <ul class="social">
                        <li><a href="#" target="_blank"><i class="bx bxl-facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i class="bx bxl-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="bx bxl-linkedin"></i></a></li>
                        <li><a href="#" target="_blank"><i class="bx bxl-instagram"></i></a></li>
                    </ul>
                </div>

                <div class="content">
                    <h3><a href="single-instructor.html">الکس ماکسول</a></h3>
                    <span>سئوکار وب</span>
                </div>
            </div>
        </div>
    </div>

    <div id="particles-js-circle-bubble-3"></div>
</section>
