
<section class="feedback-area ptb-100">
    <div class="container">
        <div class="feedback-slides owl-carousel owl-theme">
            <div class="single-feedback-item">
                <p>“از افرادی که سعی در کمال جاه طلبی های شما دارند ، دوری کنید. افراد کوچک همیشه این کار را می کنند ، اما واقعاً عالی باعث می شود احساس کنید که شما نیز می توانید عالی باشید.”</p>

                <div class="info">
                    <h3>جیمز اندرسون</h3>
                    <span>سوئیس</span>
                    <img src="/ThemeSite/assets/img/user1.jpg" class="shadow rounded-circle" alt="image">
                </div>
            </div>

            <div class="single-feedback-item">
                <p>“تفاوت مدرسه و زندگی چیست؟ در مدرسه ، شما یک درس را تدریس می کنید و سپس یک آزمون داده می شوید. در زندگی ، به شما یک آزمون داده می شود که به شما درس می آموزد.”</p>

                <div class="info">
                    <h3>لیندا سوزان</h3>
                    <span>سوئیس</span>
                    <img src="/ThemeSite/assets/img/user2.jpg" class="shadow rounded-circle" alt="image">
                </div>
            </div>

            <div class="single-feedback-item">
                <p>“اگر مردی کیف خود را درون سر خود خالی کند ، هیچ کس نمی تواند آن را از او دور کند. سرمایه گزاری درعلم همیشه بیشترین سود را در بر دارد.”</p>

                <div class="info">
                    <h3>دیوید وارمر</h3>
                    <span>سوئیس</span>
                    <img src="/ThemeSite/assets/img/user3.jpg" class="shadow rounded-circle" alt="image">
                </div>
            </div>
        </div>
    </div>
</section>