
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>پروفایل کاربر</title>
    <partial name="_css" />
</head>
<body>

    <div class="container">
        <div class="row">

            <partial name="SideMenuUser" />

            @RenderBody()

        </div>
    </div>
    <partial name="_js" />
</body>
</html>