@page
@model Kalvis.Web.Areas.User.Pages.UserCourse.IndexModel
@{
}

<div class="tab-pane fade show col-md-9 mt-5" id="dore-signup">
    <!----- Start dore signup ----->
    <div class="card mb-3">
        <div class="card-header">
            <p class="font-13 vazir mt-2 mr-2">دوره های شما :</p>
        </div>
        <div class="card-body">

            @foreach (var item in Model.UserCourse)
            {
                <div class="card mb-3 pb-4 shadow-sm">
                    <div class="card-body d-md-flex">
                        <img src="/@item.CourseImage" class="img-fluid float-lg-right mb-2" alt="html" style="max-width:200px;max-height:150px;">
                        <div class="d-inline-block pr-3 text-justify">
                            <a href="/Detail/@item.CourseId" class="mb-3 d-block text-center text-dark">@item.CourseTitle</a>
                            <small class="vazir">
                                @Html.Raw(item.CourseSummery)
                            </small>
                            <a href="/Detail/@item.CourseId" class="btn btn-info rounded-pill float-left mt-3 font-12">مشاهده لینک دانلود</a>
                        </div>
                    </div>

                </div>
            }


        </div>
    </div>
</div>